.row
  .col-xs-12
    %h3 Third-party configuration
    %p Apart from configuring your bot, you will need to do some configuration steps at Slack side.
.row
  .col-xs-12
    %h4 How to connect with Slack:
    .well.instructions
      %ol
        %li
          Open your
          %b Slack team chat.
        %li
          Click on your
          %b Team menu
          and select
          %b Configure integrations.
        %li
          Select the
          %b Hubot
          integration and click on
          %b Add Hubot integration.
        %li
          Now you have a fresh, new Hubot integration. Take note of the
          %b Setup instructions. Use those to config your bot.
        %li
          Put your
          %b Deployator's url
          in the
          %b Hubot URL
          field.
        %li
          Finally, click on the
          %b Save
          button and you're done.

.row
  .col-xs-12
    %h4 How to connect with GitHub:
    %p GitHub configuration is in a per-app basis.
